body {
    font-family: Arial, sans-serif;
    background-color: #8ce4f0;
    color: #333;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #c19ced;
}
.content {
    max-width: 600px;
    margin: auto;
    background-color: #525fd2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #7256e1;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #ff4500;
}
.box, .box2, .box3, .box4, .box5 {
    width: 100%;
    max-width: 300px;
    height: 200px;
    overflow: hidden;
    border: 2px solid black;
    padding: 20px;
    margin: 50px auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.btxt, .ctxt {
    width: 90%;
    max-width: 750px;
    margin: 20px auto;
    font-size: larger;
    position: relative;
    text-align: left;
}
.box2 {
    background-image: url("images/ns2.jpg");
    background-position: -60px 2px;
    background-size: 120%;
    background-repeat: no-repeat;
    position: relative;
    animation: move2 10s infinite alternate;
}

@keyframes move2 {
    0% { background-position: -60px 10px; }
    50% { background-position: -20px -10px; }
    100% { background-position: -50px -20px; }
}

.box3 {
    background-image: url("images/cn.jpg");
    background-position: -80px;
    background-size: 120%;
    background-repeat: no-repeat;
    position: relative;
    animation: move3 10s infinite alternate;
}
@keyframes move3 {
    0% { background-position: center -10px; }
    50% { background-position: center -50px; }
    100% { background-position: 0 -50px; }
}

.box4 {
    background-image: url("images/pn.jpg");
    background-position: -100px;
    background-size: 120%;
    background-repeat: no-repeat;
    position: relative;
    animation: move 10s infinite alternate;
}
@keyframes move {
    0% { background-position: center -50px; }
    50% { background-position: center -150px; }
    100% { background-position: 0 -150px; }
}
.box5 {
    background-image: url("images/hn.jpg");
    background-position: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    animation: move4 10s infinite alternate;
}
@keyframes move4 {
    0% { background-position: 20px -30px; }
    50% { background-position: -20px -10px; }
    100% { background-position: 20px -20px; }
}

/* Media Queries */
@media (max-width: 768px) {
    .box, .box2, .box3, .box4, .box5 {
        max-width: 90%;
        margin: 20px auto;
    }
    .btxt, .ctxt {
        font-size: medium;
    }
}
.scroll-container {
    width: 100%;
    overflow: hidden;
    background: #525fd2;
    border: 2px solid #525fd2;
}

.scroll-content {
    display: flex;
    animation: scroll 30s linear infinite;
}

.scroll-content img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
}
.em{
    height: 20%;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.em img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 20%;
}
.bgn{
    position: absolute;
    top: 130%;
}
.bgn img{
    opacity: 30%;
    height: 50%;
    width: 100%;
}

@media (max-width: 768px) {
    .bgn {
        top: 102.5%;
        left:-40%;
    }

    .bgn img {
        opacity: 40%; 
        width: 35%;
    }
}
.space{
    width: 80%;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
}
.bgn2{
    position: absolute;
    top: 265%;
    left: 70%;
}
.bgn2 img{
    opacity: 30%;
    height: 50%;
    width: 100%;
}
@media (max-width: 768px) {
    .bgn2 {
        top: 195.7%;
        left:75%;
    }

    .bgn2 img {
        opacity: 40%; 
        width: 70%;
    }
}
.box6 ,.box7,.box8 {
    width: 100%;
    max-width: 500px;
    height: 900px;
    overflow: hidden;
    padding: 20px;
    margin: 50px auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.box6 {
background-image: url("images/nf1.jpg");
background-position: 0px;
background-size: 100%;
background-repeat: no-repeat;
position: relative;
}
.box7 {
width: 100%;
max-width: 500px;
height: 600px;
overflow: hidden;
padding: 20px;
margin: 50px auto;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
position: relative;
}
.box7 {
background-image: url("images/nf2.jpg");
background-position: 0px;
background-size: 100%;
background-repeat: no-repeat;
position: relative;
}
.box8 {
width: 100%;
max-width: 500px;
height: 700px;
overflow: hidden;
padding: 20px;
margin: 50px auto;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
position: relative;
}
.box8 {
background-image: url("images/np3.jpg");
background-position: 0px;
background-size: 100%;
background-repeat: no-repeat;
position: relative;
}
@media (max-width: 768px) {
    .box6, .box7, .box8 {
        max-width: 90%;
        margin: 20px auto;
    }
}
#inputBoxContainer {
    display: none; /* Hidden initially */
}
#inputBox {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}
#submitMessage {
    margin-top: 10px;
    font-weight: bold;
}
